.container{
    display: 'flex';
    gap: '20px';
    align-items: 'center';
  }
.icon{
    transition: 'transform 0.3s ease, color 0.3s ease';
    color: 'inherit';
}
.icon:hover{
    transform: 'scale(1.2)'
}